MSSQL_SA_PASSWORD=ReplaceWithAStrongLocalPassword123!
SQLSERVER_PORT=14333
APP_DATABASE=PruebaTecnicaDMC
API_PORT=5080
AUTOMAPPER_LICENSE_KEY=

# Ruta del repositorio Angular (absoluta o relativa al compose.yaml).
FRONTEND_PATH=../Front
FRONTEND_PORT=4200
